.blog {
	padding-top: 50px;
	margin: 0 auto;
	max-width: 1367px;
}

.blog__title {
	font-size: 48px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1f375a;
	flex-direction: column;
}

.guarantee__container {
	display: flex;
	flex-direction: row;
	padding: 10px 170px 40px 170px;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

.guarantee__blog {
	display: flex;
	flex-direction: column;
}

.guarantee__wrap {
	background-color: #fff;
    border-radius: 15px;
    width: 315px;
    margin: 0 auto;
	text-align: center;
	border: 1px solid #ededed;
	margin: 0px 10px 20px 10px;
}

.guarantee__desc--title {
	font-size: 18px;
	display: flex;
	flex-direction: column;
}

.guarantee__blog--img img {
	width: 315px;
}

.guarantee__desc--title {
	padding: 20px 0px;
}

.guarantee__desc--desc {
	font-size: 16px;
	padding-bottom: 15px;
	text-align: justify;
	padding: 0px 20px;
}

.guarantee__desc--button span {
	color: #fff;
	background-color:#1f375a;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	display: block
}

.guarantee__desc--button {
	padding: 20px 20px;
	display: block;
}

.guarantee__desc--button span:hover {
	transition: 0.5s;
	background-color:#f84f5b;
}

.guarantee__button span {
	color: #fff;
	background-color:#f84f5b;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	display: block;
}

.guarantee__button {
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
}

.guarantee__button span:hover {
	background-color:#1f375a;
	transition: 0.5s;
}

.subMenu {
	margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    flex-wrap: wrap;
    width: 70%;
}

.subMenu__item {
	margin: 20px 10px;
}

.subMenu__item a {
	color: #fff;
    padding: 10px 25px;
    background: #1f375a;
    border-radius: 30px;
}

.subMenu__item a:hover { 
	transition: 0.5s;
	background-color: #f84f5b;
}


/* media */

	/* Extra large */
	@media (max-width: 1440px) {

	}

	/* Large */
	@media (max-width: 992px) {

	}

	/* Medium */
	@media (max-width: 768px) {
		.blog__title {
			font-size: 36px;
		}
	}

	/* Small */
	@media (max-width: 576px) {
		.blog__title {
			font-size: 30px;
		}
	}

	/* Extra small */
	@media (max-width: 480px) {
			.subMenu__item {
				margin: 20px 5px;
			}
			.subMenu__item a {
				padding: 10px;
			}
			
			.guarantee__wrap {
				width: 260px;
			}

			.guarantee__blog--img img {
				width: 260px;
			}

			.blog__title {
				font-size: 26px;
			}
			
			.guarantee__container {
				padding: 10px 140px 40px 140px;
			}
	}
	/* media */