/* menu */

	* {
		margin: 0px;
		padding: 0px;
		text-decoration: none;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
	}

	.menu {
		width: 100%;
		background-color: #fff;
		z-index: 1;
	}

	.menu__top {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		background-color: #1f375a;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
		color: #fff;
	}

	.menu__top--left {
		display: flex;
		flex-direction: row;
	}

	.menu__top--left li:first-of-type{
		list-style: none;
	}

	.menu__top--right li:first-of-type{
		list-style: none;
	}

	.menu__top--right ul:first {
		list-style: none;
	}

	.menu__top--right {
		display: flex;
		flex-direction: row;
	}

	.menu__top--item {
		margin: 0px 15px;
		cursor: pointer;
		color: #f84f5b;
	}

	.menu__top--tel {
		color: #fff;
	}

	.menu__top--hide {
		color: #fff;
	}

	.menu__top--item a {
		color: #fff;
		font-family: Arial, Helvetica, sans-serif;
	}

	.menu__top--item a:hover {
		transition: 0.5s;
		color: #f84f5b;
	}

	.menu__top--item_active{
		color: #f84f5b;
	}

	.menu__wrap {
		display: flex;
		justify-content: space-between;
		padding: 10px 0px;
		font-size: 16px;
		align-items: center;
		box-shadow: #dddddd 0px 0px 10px;
		width: 100%;
		background-color: #fff;
	}
	
	.menu__wrap--fixed {
		position: fixed;
		top: 0px;
	}

	.menu__wrap--left {
		list-style: none;
		display: flex;
		margin: 0px 10px;
	}

	.menu__wrap--right {
		list-style: none;
		display: flex;
	}

	.menu__wrap--item {
		margin: 0px 10px;
		cursor: pointer;
	}

	.active-item {
		background-color: #1f375a !important;
		color: #fff !important;
	}

	.menu__wrap--item a{
		background-color: #ededed;
		padding: 10px 15px;
		color: #1f375a;
		border-radius: 30px;
	}

	.menu__wrap--item a:hover{
		transition: 0.5s;
		background-color: #1f375a;
		color: #fff;
	}

	.menu__wrap--icon img{
		margin: 0px 10px;
		width: 60px;
		height: 60px;
	}

	.hidden {
		display: none;
	}

	.mobile__menu {
		display: none;
	}

	.show {
		display: block !important;
	}

	.mobile__menu--top {
		display: flex;
		justify-content: space-between;
		padding: 10px 10px 10px 20px;
		background-color: #1f375a;
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
		color: #fff;
	}

	.mobile__menu--top {
		box-shadow: #dddddd 0px 0px 10px;
	}

	.mobile__menu--top a {
		color: #fff;
	}

	.mobile__menu--top a:hover {
		transition: 0.5s;
		color: #f84f5b;
	}
	
	.mobile__menu--bottom {
		display: flex;
	}

	.mobile__menu--bottomItem {
		margin: 10px 0px 10px 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.mobile__menu--bottomItem i {
		padding: 10px;
		background-color: #1f375a;
		border-radius: 50%;
		color: #fff;
		width: 40px;
		font-size: 24px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bottomItem a:hover {
		color: #fff;
		background-color: #1f375a;
		transition: 0.5s;
	}

	.bottomItem a {
		background-color: #ededed;
		padding: 10px 15px;
		color:#1f375a;
		border-radius: 30px;
	}

	.menu__open {
		position: absolute;
		padding: 20px;
		font-size: 16px;
		display: none;
		margin-top: 10px;
	}

	.menu__open--item {
		margin-bottom: 35px;
		cursor: pointer;
	}

	.menu__open--item a {
		padding: 10px 15px;
		background-color: #ededed;
		border-radius: 30px;
		color: #1f375a;
	}

	.menu__open--item a:hover {
		background-color: #1f375a;
		color: #fff;
		transition: 0.5s;
	}



/* menu */

/* media */

	/* Extra large */
	@media (max-width: 1200px) {
	}

	/* Large */
	@media (max-width: 992px) {
	}

	/* Medium */
	@media (max-width: 768px) {
		.menu {
			display: none;
		}

		.mobile__menu {
			display: block;
		}
	}

	/* Small */
	@media (max-width: 576px) {

	}

	/* Extra small */
	@media (max-width: 480px) {
		.bottomItem a {
			padding: 10px 10px;
			font-size: 13px;
		}
	}
/* media */