* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container__top {
	color: #fff;
	background-image: url("../images/home__bg.jpeg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-image: url("../images/home__background.png");
}

.container__top--title {
	font-size: 48px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 600px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__top--desc {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	padding: 30px 0px ;
}

.container__top--button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px 70px 0px;
}

.container__top--button a {
	color: #fff;
	background-color: #f84f5b;
	border-radius: 30px;
	padding: 10px 20px;
}

.about__container {
	max-width: 1367px;
	display: flex;
    justify-content: center;
    margin: 0 auto;
}

.about {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	padding: 50px 0px;
	margin: 0 auto;
}


.about__wrap {
	display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #dddddd 0px 0px 10px;
    border-radius: 15px;
    padding: 50px 0px 20px 0px;
    width: 300px;
	margin: 0px 15px 30px 15px;
}

.about__wrap--age {
	font-size: 80px;
	color: #1f375a;
}

.about__wrap--title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0px;
	font-size: 20px;
	color: #1f375a;
	font-weight: 600;
}

.about__wrap--title span {
	padding: 5px 0;
}

.about__wrap--button {
	color: #fff;
	background-color:#1f375a;
	border-radius: 30px;
	padding: 10px 65px;
	font-size: 20px;
}

.about__wrap--button:hover {
	background-color:#f84f5b;
}

.videoWrap {
	color: #fff;
	background-color: #1f375a;
	display: flex;
}

.videoWrap__video {
	width: 620px;
	height: 380px;
	margin: 50px 0px;
	border: 1px solid #ededed;
	background-color: #ffffff;
	border-radius: 15px;
	display: flex;
	justify-content: center;
}

.videoWrap__video img {
	margin: auto;
}

/* .videoWrap__video  video{
	width: 620px;
	padding: 0px 20px;
	border-radius: 10%;
} */

.videoWrap__wrap {
	padding: 50px 0px;
    width: 50%;
    margin-left: 50px;
}

.videoWrap__content {
	max-width: 1367px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
}

.videoWrap__title {
	font-size: 36px;
	display: flex;
	flex-direction: column;
	padding: 20px 0px;
}

.videoWrap__desc {
	font-size: 18px;
}

.videoWrap__button {
	margin: 50px 0px;
}

.videoWrap__button span {
	color: #fff;
	background-color:#f84f5b;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 20px;
}

.advice {
	padding: 50px 0px 30px 0px;
    max-width: 1367px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.advice__title {
	font-size: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}

.advice__blog {
	max-width: 1367px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	padding: 20px 0px;
	margin: 0 auto;
}

.advice__blog--wrap {
	width: 50%;
	padding: 50px;
}

.advice__blog--title {
	font-size: 36px;
	display: flex;
    flex-direction: column;
	padding-bottom: 25px;
}

.advice__blog--img {
	width: 50%;
	display: flex;
	justify-content: center;
}

.advice__blog--desc {
	font-size: 18px;
}

.advice__blog--button {
	margin: 30px 0px;
}

.advice__blog--button span{
	color: #fff;
	background-color:#f84f5b;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 20px;
}

.advice__blog--img {
	width: 620px;
	height: 370px;
	margin: 0px 30px;
}

.advice__blog--img img {
	width: 100%;
}

.guarantee {
	background-color: #1f375a;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guarantee__title {
	font-size: 48px;
	color: #fff;
	padding: 50px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.guarantee__container {
	display: flex;
	flex-direction: row;
	padding: 40px 0px;
	flex-wrap: wrap;
	justify-content: center;
}

.guarantee__blog {
	display: flex;
	flex-direction: column;
}

.guarantee__wrap {
	background-color: #fff;
    border-radius: 15px;
    width: 315px;
    margin: 0 auto;
	text-align: center;
	margin: 0px 20px 40px 20px;
}

.guarantee__desc--title {
	font-size: 18px;
	display: flex;
	flex-direction: column;
}

.guarantee__blog--img img {
	width: 315px;
}

.guarantee__desc--title {
	padding: 20px 0px;
}

.guarantee__desc--desc {
	font-size: 16px;
	padding-bottom: 15px;
	text-align: justify;
	padding: 0px 20px;
}

.guarantee__desc--button span {
	color: #fff;
	background-color:#1f375a;
	border-radius: 30px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	width: 100%;
	display: block
}

.guarantee__desc--button {
	padding: 20px 20px;
	display: block;
}

.guarantee__desc--button span:hover {
	background-color:#f84f5b;
}